@import 'variables';
h1 {
    color: $black-color;
}

.card-img-top {
    object-fit: contain;
    margin: auto;
}

.card {
    width: 286px;
    height: 400px;
    margin-left: 10px;
    margin-right: 10px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

.checkbox-select-all-options {
    width: 160px;
    margin: 0 16px;
}